apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base
patches:
  - target:
      kind: StatefulSet
      name: hadron-postgres
    patch: |
      apiVersion: apps/v1
      kind: StatefulSet
      metadata:
        name: hadron-postgres
      spec:
        template:
          spec:
            containers:
              - name: postgres
                resources:
                  requests:
                    memory: "128Mi"
                    cpu: "100m"
                  limits:
                    memory: "256Mi"
                    cpu: "250m"
  - target:
      kind: Deployment
      name: hadron-redis
    patch: |
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: hadron-redis
      spec:
        template:
          spec:
            containers:
              - name: redis
                resources:
                  requests:
                    memory: "64Mi"
                    cpu: "50m"
                  limits:
                    memory: "128Mi"
                    cpu: "100m"
